spaces = 0 2px 8px 16px 32px 48px 64px 80px 96px 128px
grays = #000 #111827 #374151 #6b7280 #d1d5db #f3f4f6 #fff

*, *:before, *:after
	box-sizing border-box
	vertical-align middle
	-webkit-tap-highlight-color #0000
::-webkit-scrollbar
	display none

body
	margin 0
	font-family sans-serif
	font-size 16px
	background #000
	color #fff
	word-break break-word
	overflow hidden
	overscroll-behavior none
	touch-action manipulation
	user-select none
img
	display block
	image-rendering -webkit-optimize-contrast
[disabled]
	opacity .5
	pointer-events none

.gotoSlider
	position relative
	left 0
	top 55%
	width 24px
	height calc(45% - 90px)
.gotoSliderTooltip
	position absolute
	left 80px
	padding 8px 16px
	border solid 1px grays[3]
	white-space nowrap
	background #000
	transform translateY(-50%)
	pointer-events none

.Album__photo
	transform-origin left top
.Album__photo--isRotate
	margin-right -9999px
	margin-bottom -9999px
	transform rotate(90deg) translateY(-100%)
	&.Album__photo--isScale
		transform rotate(90deg) scale(1.25) translateY(-100%)
.Album__photo--noRotate
	max-height 100%
	&.Album__photo--isScale
		transform scale(1.25)

.ful
	position absolute
	left 0
	top 0
	width 100%
	height 100%
.rcm, .ccm
	display flex
	justify-content center
	align-items center
.ccm
	flex-direction column

.abs
	position absolute
.rel
	position relative
.fix
	position fixed

props = {
	l:left, t:top, r:right, b:bottom, w:width, h:height,
	maw:max-width, mah:max-height, miw:min-width, mih:min-height
}
for p, prop in props
	for size in 0 25 50 75 100
		.{p}{size}
			{prop} (size)%
	.{p}a
		{prop} auto

props = {m:margin, p:padding}
sides = {
	"":(""), x:(-left -right), y: (-top -bottom),
	l:(-left), r:(-right), t:(-top), b:(-bottom)
}
for p, prop in props
	for s, side in sides
		for size, z in spaces
			.{p}{s}{z}
				for side2 in side
					{prop}{side2} size
			if p is m
				.-{p}{s}{z}
					for side2 in side
						{prop}{side2} -(size)

sides = {o:"", l:-left, r:-right, t:-top, b:-bottom}
for s, side in sides
	for color, c in grays
		.b{s}{c}
			border{side} solid 1px color

for size, z in spaces
	.rou{z}
		border-radius size

.blo
	display block
.inb
	display inline-block

.row
	display flex
.col
	display flex
	flex-direction column
.wra
	flex-wrap wrap

.c
	flex 1
.c0
	flex initial
for i in 1..12
	.c{i}
		width round(i / 12 * 100%, 5)

sides = {"":"", x:column-, y:row-}
for s, side in sides
	for size, z in spaces
		.g{s}{z}
			{side}gap size

.sta
	justify-content flex-start
.cen
	justify-content center
.end
	justify-content flex-end
.bet
	justify-content space-between
.aro
	justify-content space-around
.eve
	justify-content space-evenly

.top
	align-items flex-start
.mid
	align-items center
.bot
	align-items flex-end
.str
	align-items stretch

.fll
	float left
.flr
	float right

.fz1
	font-size 13px
.fz2
	font-size 16px
.fz3
	font-size 20px
.fz4
	font-size 24px
.fz5
	font-size 32px
.fz6
	font-size 48px

.tal
	text-align left
.tac
	text-align center
.tar
	text-align right

.wsnw
	white-space nowrap

for color, i in grays
	.bg{i}
		background-color color
	.co{i}
		color color

.coy
	color #ffc107

for val in range(0,100,10)
	.op{val}
		opacity (val / 100)

.ovh
	overflow hidden
.ova
	overflow auto

.sbs
	scroll-behavior smooth
.sba
	scroll-behavior auto

.obcv
	object-fit cover
.obct
	object-fit contain

.ar1
	aspect-ratio 1
.ar69
	aspect-ratio 6/9
.ar89
	aspect-ratio 8/9

.pen
	pointer-events none
.pea
	pointer-events auto

for i in 0..10
	.z{i}
		z-index i

.act2
	position absolute
	border solid 2px #3b82f6
	border-radius 16px
	background #3b82f688
	animation act2 .5s ease
	pointer-events none
	z-index 20
@keyframes act2
	from
		transform scale(1)
		opacity 1
	to
		transform scale(.85)
		opacity 0
